.edit-icon {
	color: blue;
}
.edit-icon, .trash-icon:hover {
	cursor: pointer;
}
.trash-icon {
    color: coral;
}
.modal-body {
	overflow: hidden !important;
}
.txt-small {
	font-size: 12px !important;
}
.wellNote{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.wellNote h1{
margin-left: 25%;
}
.wellNote h3{
	margin-left: 35%;
	}
.wellNote h4{
	margin-left: 38%;
	}