.edit-icon {
	color: blue;
}
.edit-icon, .trash-icon:hover {
	cursor: pointer;
}
.trash-icon {
    color: coral;
}
.modal-body {
	overflow: hidden !important;
}
.txt-small {
	font-size: 12px !important;
}